//? Variables
$color-white: #fff;
$color-black: #000;
@font-face {
	font-family: "SF";
	src: url("/fonts/SF-Pro-Display-Regular.woff2"), url("/fonts/SF-Pro-Display-Regular.woff");
	font-weight: normal;
	font-style: normal;
}
//? Variables

//? Main

// @font-face {
// 	font-family: "Gilroy";
// 	src: url("../fonts/Gilroy-SemiBold.woff2"), url("../fonts/Gilroy-SemiBold.woff");
// 	font-display: swap;
// 	font-weight: 600;
// 	font-style: normal;
// }

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	background-image: url(/img/Легенда.jpg);
}

input {
	border: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;

	&:-webkit-autofill {
		box-shadow: 0 0 0 30px rgba(white, 0) inset !important;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

textarea,
input,
button:focus {
	outline: none;
}

button {
	font-size: inherit;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

ul,
li {
	display: block;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

textarea {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	border: none;
	resize: none;
}

//? Main

//? Calculator
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.calculator {
	border-radius: 15px;
	box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.7);
	&__inner {
		border-radius: 12px;
		border: 2px rgb(78, 78, 78) solid;
		width: 100%;
		box-shadow: 0px 0px 0px 1px rgb(29, 29, 29);
		height: 100%;
		backdrop-filter: blur(15px);
		background-color: rgba(58, 57, 57, 0.9) !important;
		padding: 15px;
	}
}
.circle-box {
	display: grid;
	grid-template-columns: 20px 20px 20px;
	gap: 12px;
	&:hover {
		img {
			display: block;
		}
		.circle-box__item {
			&_red {
				cursor: pointer;
			}
			&_yellow {
				cursor: pointer;
			}
		}
	}
	&__item {
		width: 20px;
		height: 20px;

		border-radius: 60px;
		&_red {
			background-color: rgb(228, 69, 69);
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				display: none;
				width: 12px;
				height: 12px;
			}
		}
		&_yellow {
			background-color: rgb(255, 208, 0);
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				display: none;
				width: 12px;
				height: 12px;
			}
		}
		&_gray {
			background-color: rgb(112, 110, 110);
		}
	}
}
.result {
	display: flex;
	justify-content: right;
	margin-top: 75px;
	margin-bottom: 5px;
	&__number {
		font-family: "SF";
		font-size: 52px;
		color: rgb(223, 218, 218);
	}
}
.values {
	&-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px 10px;
	}
	&-item {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		background-color: rgb(151, 145, 145);
		display: flex;
		justify-content: center;
		align-items: center;
		&:active {
			background-color: rgb(185, 185, 185);
		}
		&__signs {
			background-color: rgb(240, 143, 16);
			&:active {
				background-color: rgb(241, 174, 87);
			}
		}
		&__numbers {
			background-color: rgb(112, 112, 112);
			&:active {
				background-color: rgb(161, 155, 147);
			}
		}
		&__text {
			color: white;
			font-family: "SF";
			font-size: 30px;
			img {
				width: 40px;
				height: 40px;
				margin-top: 5px;
			}
			&_signs {
				font-size: 37px;
			}
			&_divide {
				font-size: 40px;
			}
		}
	}
}
